.error{
    position: relative;
    width: 250px;
    margin: 0 auto;
    font-size: 0.8em;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    animation: color 0.3s ease-in-out  1 normal forwards;
    color: whitesmoke;
}
.errorRequest{
    position: fixed;
    width: 100%;
    top: 80vh;
    text-align: center;
    z-index: 10000000000000000;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
  }
  

@keyframes color {
    0%{
        background: transparent;
    }
    50%{
        background: rgba(0, 0, 0, 0.2);
    }
    100%{
        background: rgba(0, 0, 0, 0.5);
    }
}