.cont{
    position: relative;
    width: 100%;

}
.front_page{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header{
    position: relative;
    width: 600px;
    height: 20vh;
    min-height: 300px;

}
.h1{
    position: relative;
    display: flex;
}
.header h1{
    font-family: "ArAndCo";
    font-size: calc(8em + 1vw);
    /*font-size: 100px;*/
    text-transform: uppercase;
}
.header h1:nth-child(2){
    color: var(--colorResalt);
}
.header h3{
    position: relative;
    font-size: 0.8em;
    color: var(--secundary_header);
}
.search_bx{
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    /*width: 420px;*/
    width: var(100px + 8vw);
    padding: 10px;
    border-radius: var(--border-radius);
}
.input_bx{
    position: relative;
    width: 75%;
    background: var(--greySpace);
    height: calc(1.5rem + 2vh);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(169, 167, 167, 0.4);
}
.input_bx input{
    position: relative;
    width: 90%;
    outline: none;
    background: transparent;
    border: none;
    color: var(--font_color);
    font-size: 0.8em;
}
.icon_bx{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    position: relative;
    height: calc(1.5rem + 2vh);
}
.btn_bx{
    width: 150px ;
    margin-top: 3dvh;

}
.btn button{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: var(--border-radius);
    /*background: rgb(119, 220, 119);*/
    background: var(--colorResalt);
    border: none;
    color: whitesmoke;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.3s;
}
.btn button:hover{
    background:rgb(53, 96, 53) ;
}
.front_img_bx{
    position: relative;
    height: 400px;
    width: 200px;
    overflow: hidden;
}


.categories{
    position: relative;
    width: 100%;
    min-height: 25dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.categories h2{
    font-family: "PoppinsBolder";
    margin-bottom: 16px;
}
.categories_bx{
    position: relative;
    width: 100%;
    grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr)); 
   /* margin-top: 10vh;*/
    
}
.offets_bx{
    position: relative;
    width: 100%;
    min-height: calc(100dvh - 80px);
    display: grid;
    grid-template-columns:  1fr  2.5fr; /* El primer elemento ocupa  1/3 del espacio, el segundo  2/3 */
    grid-template-rows: auto; /* Ajusta automáticamente la altura de las filas */
    gap:  30px; /* Espacio entre elementos */
    margin-top: 10vh;
}
.special{
    position: relative;
    padding: 30px;
    padding-right: 50px;
    padding-left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    
}
.trending{
    position: relative;
    height: 100%;
    padding: 30px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.trending_cont, .picks{
    position: relative;
    width: 100%;
}

.special_header{
    position: relative;
    width: 100%;
    height: 50px;
    background: var(--greySpace);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.special_icon_bx{
    position: relative;
    padding-right: 16px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offets_bx h4{
    font-family: "PoppinsBolder";
}
.header1{
    font-size: 20px;
    font-family: "PoppinsBolder";
}

.trending_header{
    position: relative;
    width: 100%;
    height: 40px;
    background: var(--greySpace);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.offer{
    position: relative;
    width: 100%;
    /*height: 100%;  */ 
}

.trendingBtx{
    position: relative;
    margin-top: 16px;
    display: grid;
    grid-gap: 16px;
    /*grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.counter{
    position: relative;
    width: 100%;
    height: 200px;
    background: var(--colorResalt);
    border-radius: var(--border-radius);
    margin-top: 16px;
}
.counter_header{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.principal{
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "PoppinsBolder";
    color: whitesmoke;
}
.secundary{
    color: whitesmoke;
    font-size: 0.8em;
}
.hour{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.hour span{
    position: relative;
    font-size: 25px;
    font-family: "PoppinsBolder";
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: whitesmoke;
}
.hour span:nth-child(3){
    background: transparent;
}
.pick{
    position: relative;
    width: 100%;
    margin-top: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto auto;
}

.blog{
    position: relative;
    width: 100%;
    background: var(--greySpace);
    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.header_bx{
    position: relative;
    font-family: "PoppinsBolder";
    margin-bottom: 16px;
    width: 100%;
    text-align: center;    
}
.blog_card_bx{
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 16px;
    margin-top: 10vh;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}


@media(max-width:1027px){
    .picks{
        margin-top: 30px;
    }
}
@media(max-width:899px){
    .front_page{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 30px;
    }

    .front_img_bx{
        margin: 0 auto;
        width: 200px;
        height: 250px;

    }
    .header{
        width: 90%;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .header h1{
        font-size: calc(1.2em + 20vw);
        text-align: center;
    }
    .header h3{
        /*font-size: 1em;*/
        text-align: center;
    }
    
    
}
@media(max-width:807px){
    .offets_bx{
        min-height: calc(100vh - 80px);
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
    }
    .special{
        width: 100%;
        padding: 0;
    }
    .offer{
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    }
    .counter{
        width: 250px;
        margin: 0 auto;
        margin-top: 16px;
    }
    .trending{
        padding: 0;
    }
    .pick{
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    }
    .trendingBtx{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
@media(max-width:458px){
    .search_bx{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header h3{
        font-size: 0.8em;
    }
}