.cont{
    position: relative;
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(142, 140, 140,0.3);
}
.logo{
    position: relative;
    width: 80px;
    height: 60px;
    padding-left: 10px;
}
.first{
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.headers{
    position: relative;
    display: flex;
    align-items: center;
}
.icon_bx{
    position: relative;
    display: flex;
    align-items: center;
}
.icon{
    /*position: relative;
    margin-right: 20px; 
    font-size: calc(0.8rem + 0.4vw);
    cursor: pointer;*/
    margin-left: 20px; 
    font-size: 1.2em;
    cursor: pointer;
}
.icon_bx .icon1{
    position: relative; 
    font-size: calc(0.8rem + 0.4vw);
    cursor: pointer;
}

.input_bx{
    position: relative;
    /*width: 350px;*/
    width: calc(9rem + 10vw);
    background: var(--greySpace);
    height: calc(1.5rem + 2vh);
    /*height: calc(1.5rem + 1vw);*/
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(169, 167, 167, 0.4);
    
}
.input_bx input{
    position: relative;
    width: 80%;
    outline: none;
    background: transparent;
    border: none;
    color: var(--font_color);
    font-size: 0.8em;
}
.input_bx .icon_bx1 .icon{
    font-size: calc(0.8rem + 0.5vw);
}
.circle{
    position: absolute;
    background: rgb(211, 5, 5);
    font-size: 0.5em;
    color: whitesmoke;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PoppinsBolder";
    bottom: 20px;
    left: 10px;
}
.user{
    position: relative;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    overflow: hidden;
    
}
@media(max-width: 1020px){
    .cont{
      width: 100%;
      padding-left: 10px;
    }
    
  }
  @media(max-width: 420px){
    .logo{
        position: relative;
        width: 70px;
        height: 50px;
        padding-left: 10px;
    }
    .icon{
       margin-right: 15px; 
    }
    .input_bx{
        width: 10rem;
        height: 2rem;

    }

  }